body {
  background-image: radial-gradient(circle at 13% 47%, rgba(72, 255, 255, 0.27) 0%, rgba(72, 255, 255, 0.27) 25%, transparent 25%, transparent 100%), radial-gradient(circle at 28% 63%, rgba(235, 9, 9, 0.09) 0%, rgba(235, 9, 9, 0.09) 16%, transparent 16%, transparent 100%), radial-gradient(circle at 81% 56%, rgba(243, 19, 243, 0.17) 0%, rgba(243, 19, 243, 0.17) 12%, transparent 12%, transparent 100%), radial-gradient(circle at 26% 48%, rgba(190, 192, 38, 0.42) 0%, rgba(190, 192, 38, 0.42) 6%, transparent 6%, transparent 100%), radial-gradient(circle at 97% 17%, rgba(72, 255, 255, 0.270588) 0%, rgba(72, 255, 255, 0.270588) 56%, transparent 56%, transparent 100%), radial-gradient(circle at 50% 100%, rgba(83, 154, 194, 0.16) 0%, rgba(83, 154, 194, 0.16) 36%, transparent 36%, transparent 100%), radial-gradient(circle at 55% 52%, rgba(69, 69, 69, 0.03) 0%, rgba(69, 69, 69, 0.03) 6%, transparent 6%, transparent 100%), linear-gradient(90deg, white, white); }
  body .navbar-brand {
    font-size: 25px;
    font-family: "Yanone Kaffeesatz", sans-serif;
    padding: 0px 40px; }
  body .main_carousel {
    margin-top: 100px; }
  body .main_card {
    margin-top: 50px;
    margin-bottom: 100px;
    color: black; }
    body .main_card .main__info_card {
      color: black; }
    body .main_card .card_equipo {
      margin: 30px 100px; }
    body .main_card .border-1 {
      box-shadow: 0px 0px 5px black; }
  body .promoPorta {
    background-color: #F9B208; }
    body .promoPorta .input-cel {
      padding: 5px 10px;
      border-radius: 10px;
      border: 0.5px solid grey; }
    body .promoPorta .boton {
      font-family: 'Scheherazade New', serif;
      margin: 0px 0px 0px 5px;
      padding: 5px 10px 8px 10px;
      font-size: 32px;
      border: 0.5px solid grey;
      border-radius: 10px; }
  body .container-footer {
    margin: 30px 0px 0px 0px;
    padding: 30px;
    box-shadow: 0px 1px 3px grey; }
    body .container-footer .footer_parrafo {
      font-size: 16px; }
    body .container-footer li {
      list-style-type: none; }
    body .container-footer a {
      text-decoration: none !important;
      color: black; }
    body .container-footer .ul-1 {
      font-size: 16px;
      padding: 4px; }
    body .container-footer li {
      padding: 3px; }
    body .container-footer a:hover {
      color: #308a8a; }
    body .container-footer .nav-link:hover {
      color: #308a8a; }

/* PAGINA PRODUCTOS */
.card_margin {
  margin: 100px 0px 80px 0px; }
  .card_margin .card {
    margin: 50px 50px 50px 10px;
    background-color: white;
    box-shadow: 0px 0px 20px grey;
    font-size: 18px;
    transition: transform .5s; }
    .card_margin .card .title-planes {
      border: 1px solid aquamarine;
      background-color: aquamarine;
      border-radius: 100px; }
    .card_margin .card .img {
      height: 50px;
      width: 50px;
      transform: rotate(90deg); }
    .card_margin .card .title-pag-2 {
      border: 1px solid aquamarine;
      background-color: mediumaquamarine;
      border-radius: 100px; }
  .card_margin .card:hover {
    transform: scale(1.2); }

.container-footer {
  background-color: #F8F9FA; }
  .container-footer .footer_parrafo {
    font-size: 16px; }
  .container-footer .ul-1 {
    font-size: 16px;
    padding: 4px; }
  .container-footer li {
    padding: 3px; }

@media only screen and (max-width: 768px) {
  .card_margin {
    margin: 5% 0% 0% 15%; }
  .card-title {
    margin: auto;
    font-size: 25px;
    border: 1px solid aquamarine;
    background-color: aquamarine;
    border-radius: 100px; }
  .img {
    height: 50px;
    width: 50px;
    transform: rotate(90deg); }
  p {
    margin: 0px 0px;
    padding: 5px 0px;
    text-align: start;
    font-size: 15px; }
  .planes_margin {
    margin-top: 100px; }
  .card {
    box-shadow: 0px 0px 20px grey;
    margin-bottom: 100px; }
  .container-footer {
    margin: 0px;
    padding: 0px;
    background-color: #F8F9FA; }
  .footer_parrafo {
    font-size: 16px; }
  .ul-1 {
    font-size: 16px;
    padding: 4px; }
  li {
    padding: 3px; } }

/* ----------- PAGINA CONTACTO ------ */
.formulario {
  margin: 5% 25% 10% 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-color: grey;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 1px grey;
  background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%), linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%), linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%), linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%), linear-gradient(90deg, #09c9ba, #1283dd);
  font-size: 20px; }
  .formulario .noti {
    margin: 0px 10px; }

.redesSociales {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  display: inline-block;
  padding: 0px; }
  .redesSociales .img-redes {
    transition: all 1s; }
  .redesSociales .img-redes:hover {
    transform: translateY(-20px); }

.container_footer_contacto {
  margin: 0px 0px 0px 0px;
  padding: 30px;
  background-color: #f8f9fa; }

/* mobile contacto */
@media only screen and (max-width: 768px) {
  .formulario {
    font-size: 15px;
    margin: 20% 15% 5% 15%;
    text-align: center; } }

/* fin de media only contacto */
/* --------- PAGINA NOSOTROS ------- */
.contenedor_nosotros {
  margin-top: 10%;
  margin-bottom: 15%; }
  .contenedor_nosotros .nosotros {
    margin: 0.1vw 2vh;
    padding: 25px 20px 25px 20px;
    border: 1px solid #CEFFFF;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8); }
    .contenedor_nosotros .nosotros .titleNosotros {
      padding: 20px 0px;
      text-align: center;
      font-size: 4rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
    .contenedor_nosotros .nosotros .parrafoNosotros {
      font-size: 2rem;
      word-spacing: 5px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.nosotros_footer {
  background-color: #F8F9FA; }

/* mobile nosotros */
@media only screen and (max-width: 768px) {
  .contenedor_nosotros {
    margin: 25% 0%; }
    .contenedor_nosotros .nosotros {
      padding: 25px 20px 25px 20px;
      border: grov 1px grey;
      box-shadow: 0px 0px 10px 1px grey;
      display: inline-block;
      margin: 0.1vw 5vh; }
      .contenedor_nosotros .nosotros .titleNosotros {
        padding: 5px 0px;
        text-align: center;
        font-size: 2rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
      .contenedor_nosotros .nosotros .parrafoNosotros {
        font-size: 1.5rem;
        word-spacing: 2px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; } }

/* fin mobile nosotros */
/* INICIAR SESION */
.body_login {
  background-color: white;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-decoration: none; }
  .body_login .contenedor {
    text-align: center; }
    .body_login .contenedor .backIndex {
      position: absolute;
      left: 10px;
      top: 1px; }
    .body_login .contenedor .imgBack {
      height: 75px; }
    .body_login .contenedor .title {
      color: black;
      margin-top: 0px;
      padding: 5px 5px 5px 5px;
      text-align: center;
      color: white;
      font-size: 60px;
      width: 100%; }
    .body_login .contenedor a {
      color: black;
      text-decoration: none; }
    .body_login .contenedor .login-1 {
      color: black; }
    .body_login .contenedor .login-2 {
      color: black; }
    .body_login .contenedor .azul a:hover {
      color: blue; }
    .body_login .contenedor .a-1 {
      color: black;
      margin-right: 10px;
      font-size: 16px;
      text-decoration: none; }
    .body_login .contenedor .a-2 {
      color: black;
      font-size: 16px;
      text-decoration: none;
      display: inline-block;
      margin-bottom: 50px; }
    .body_login .contenedor .a-3 {
      color: black;
      font-size: 16px;
      text-decoration: none; }
    .body_login .contenedor .enlace {
      margin: 10px 0px 0px 0px; }
    .body_login .contenedor .eslogan {
      color: black;
      text-align: center;
      font-size: 30px;
      font-family: monospace;
      margin: 40px 0px;
      display: inline-block;
      padding: 0px 5px;
      border-radius: 50px; }

@keyframes movispace {
  0% {
    width: 200px;
    transform: rotate(360deg); } }
  .body_login .animacion {
    width: 200px;
    height: 250px;
    background-color: green;
    animation-name: movispace;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  .body_login .container-footer-login {
    margin-top: 5.5%; }

/* mobile iniciar sesion */
@media only screen and (max-width: 768px) {
  .body_login {
    background-color: white;
    /* font-family: "Oswald", sans-serif; */
    font-size: 15px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    overflow-x: hidden; }
    .body_login .contenedor {
      text-align: center; }
      .body_login .contenedor .backIndex {
        position: position;
        left: 5px;
        top: 30px; }
      .body_login .contenedor .imgBack {
        height: 25px; }
    .body_login .title {
      color: black;
      margin-top: 0px;
      padding: 5px 0px 5px 0px;
      text-align: center;
      color: white;
      font-size: 60px;
      width: 100%; }
    .body_login .login-1 {
      text-align: center;
      color: black;
      margin: 10px 0px; }
    .body_login .login-2 {
      text-align: center;
      color: black;
      margin: 10px 0px; }
    .body_login .a-1 {
      color: black;
      margin-right: 10px;
      font-size: 16px;
      text-decoration: none; }
    .body_login .a-2 {
      color: black;
      font-size: 16px;
      text-decoration: none;
      display: inline-block;
      margin-bottom: 50px; }
    .body_login .a-3 {
      color: black;
      font-size: 16px;
      text-decoration: none; }
    .body_login .a-4 {
      margin: 15px 0px; }
    .body_login .azul a:hover {
      color: blue; }
    .body_login .enlace {
      margin: 10px; }
    .body_login .container-footer-login {
      margin-top: 2%;
      padding: 30px; }
    .body_login .eslogan {
      color: black;
      text-align: center;
      margin-top: 50px;
      font-size: 20px;
      font-family: monospace;
      margin: 40px 0px;
      display: inline-block;
      padding: 0px 5px;
      border-radius: 50px; } }

/* fin mobile iniciar sesion */
