body {
  background-image: radial-gradient(circle at 13% 47%, rgba(72,255,255, 0.27) 0%, rgba(72,255,255, 0.27) 25%,transparent 25%, transparent 100%),radial-gradient(circle at 28% 63%, rgba(235,9,9, 0.09) 0%, rgba(235,9,9, 0.09) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, rgba(243,19,243, 0.17) 0%, rgba(243,19,243, 0.17) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, rgba(190,192,38, 0.42) 0%, rgba(190,192,38, 0.42) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, rgba(72,255,255, 0.27058823529411763) 0%, rgba(72,255,255, 0.27058823529411763) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, rgba(83,154,194, 0.16) 0%, rgba(83,154,194, 0.16) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, rgba(69, 69, 69,0.03) 0%, rgba(69, 69, 69,0.03) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

/*----- MOVISPACE PAGINA PRINCIPAL------ */
.main_carousel {
  margin-top: 100px;
}

.main_card {
  margin-top: 80px;
  margin-bottom: 10px;
  color:black;
}

.main__info_card {
    color: #000;
}

.navbar {
}

.navbar-brand {
  font-size: 25px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  padding: 0px 40px;
  
}

.main_info_card {
  display: flex;
  justify-content: space-around;
}

.card_equipo {
  margin: 30px 100px;
}

.border-1 {
  box-shadow: 0px 0px 5px black;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.container-footer {
  margin: 30px 0px 0px 0px;
  padding: 30px;
  box-shadow: 0px 1px 3px grey;
}

.footer_parrafo {
  font-size: 16px;
}

.ul-1 {
  font-size: 16px;
  padding: 4px;
}

li {
  padding: 3px;
}

a:hover {color:rgb(48, 138, 138)}
.nav-link:hover {color:rgb(48, 138, 138)}

/* ----------- PAGINA CONTACTO ------ */

.formulario {
  margin:10% 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-color: grey;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 1px grey;
  background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(9, 201, 186),rgb(18, 131, 221));
  font-size: 25px;
}
.redesSociales {
  /* margin-bottom: 50px; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  display: inline-block;
  padding:0px;
  /* background-image: linear-gradient(white,aqua); */
}

.container_footer_contacto {
    margin: 0px 0px 0px 0px;
    padding: 30px;
    background-color: #f8f9fa;
  }

label {
    font-size:100%;
    padding: 1% 0%;
}

/* --------- PAGINA NOSOTROS ------- */

.contenedor_nosostros {
  margin: 200px 0px 250px 0px;
}

.nosotros {
  padding: 25px 20px 25px 20px;
  border: grov 1px grey;
  box-shadow: 0px 0px 10px 1px grey;
  display:inline-block;
  margin: 0.1vw 20vh;
  /* margin: 0.1% 10%; */
}

.titleNosotros {
  padding: 20px 0px;
  text-align: center;
  font-size: 4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.parrafoNosotros {
  font-size: 2rem;
  word-spacing: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.footer_nosotros {
  margin-top: 300px;
}

/* INICIAR SESION */

body {
  background-color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#iniciarSesion {
  font-family: "Noto Serif", serif;
}

.contenedor {
  text-align: center;
}

.title {
  color: black;
  margin-top: 0px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  color: white;
  font-size: 60px;
  width: 100%;

}

.login-1 {
  color: black;
}
.login-2 {
  color: black;
}

.transitionInputLogin {
  width: auto;
  transition: all 1s;
}

.transitionInputLogin:focus {
  width: 300px;
  font-size: 24px;
}

.a-1 {
  color: black;
  margin-right: 10px;
  font-size: 16px;
  text-decoration: none;
}

.a-2 {
  color: black;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 50px;
}

.a-3 {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.enlace {
  margin: 10px;
}

.login_p {
  color: black;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  font-family: monospace;
  margin: 40px 0px;
  /* background-image: linear-gradient(white, aqua, white); */
  display: inline-block;
  padding: 0px 5px;
  border-radius: 50px;
}

@keyframes movispace {
  0% {
    width: 200px;
    transform: rotate(360deg);
  }
}

.animacion {
  width: 200px;
  height: 250px;
  background-color: green;
  animation-name: movispace;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* @keyframes fran {
    0% {height: 700px;}
}
    .fran:hover {
        height: 900px;
        animation-name: fran;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-timing-function: ease-in;
    } */
