/* ----------- PAGINA CONTACTO ------ */
.formulario {
    margin:5% 25% 10% 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-color: grey;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 1px grey;
    background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(9, 201, 186),rgb(18, 131, 221));
    font-size: 20px;

    .noti {
      margin: 0px 10px;
    }
  }
  .redesSociales {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    display: inline-block;
    padding:0px;

    .img-redes {
      transition: all 1s;
    }
    .img-redes:hover {
      transform: translateY(10px);
    }
  }
  
  .container_footer_contacto {
      margin: 0px 0px 0px 0px;
      padding: 30px;
      background-color: #f8f9fa;
    }
  
  /* mobile contacto */
  
  @media only screen and (max-width: 768px) {
    .formulario {
      font-size:15px;
      margin:20% 15% 5% 15%;
    }
    
  }
  
  /* fin de media only contacto */