/* INICIAR SESION */

.body_login {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
  
    .contenedor {
      text-align: center;
    
      .title {
        color: black;
        margin-top: 0px;
        padding: 5px 5px 5px 5px;
        text-align: center;
        color: white;
        font-size: 60px;
        width: 100%;
      }

      a {
        color: black;
        text-decoration: none;
      }

      .login-1 {
        color: black;
      }

      .login-2 {
        color: black;
      }

      .azul a:hover {
        color: blue;
      }

      .a-1 {
        color: black;
        margin-right: 10px;
        font-size: 16px;
        text-decoration: none;
      }

      .a-2 {
        color: black;
        font-size: 16px;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 50px;
      }

      .a-3 {
        color: black;
        font-size: 16px;
        text-decoration: none;
      }

      .enlace {
        margin: 10px 0px 0px 0px;
      }

      .eslogan {
        color: black;
        text-align: center;
        // margin-top: 30px;
        font-size: 30px;
        font-family: monospace;
        margin: 40px 0px;
        display: inline-block;
        padding: 0px 5px;
        border-radius: 50px;
      }
    }

    @keyframes movispace {

      0% {
        width: 200px;
        transform: rotate(360deg);
      }
    }

    .animacion {
      width: 200px;
      height: 250px;
      background-color: green;
      animation-name: movispace;
      animation-duration: 4s;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    .container-footer-login {
      margin-top: 5.5%;
    }
}
  
  /* mobile iniciar sesion */
  
  @media only screen and (max-width: 768px) {
    
    .body_login {
      background-color: rgb(255, 255, 255);
      /* font-family: "Oswald", sans-serif; */
      font-size: 15px;
      letter-spacing: 0px;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }
    
    
    .contenedor {
      text-align: center;
    }
    
    .title {
      color: black;
      margin-top: 0px;
      padding: 5px 0px 5px 0px;
      text-align: center;
      color: white;
      font-size: 60px;
      width: 100%;
    
    }
    
    .login-1 {
      text-align: center;
      color: black;
      margin: 10px 0px;
    }
    .login-2 {
      text-align: center;
      color: black;
      margin: 10px 0px;
    }
    
    .a-1 {
      color: black;
      margin-right: 10px;
      font-size: 16px;
      text-decoration: none;
    }
    
    .a-2 {
      color: black;
      font-size: 16px;
      text-decoration: none;
      display: inline-block;
      margin-bottom: 50px;
    }
    
    .a-3 {
      color: black;
      font-size: 16px;
      text-decoration: none;
    }
    
    .a-4 {
      margin: 15px 0px;
    }
    
    .azul a:hover {
      color: blue;
    }
  
    .enlace {
      margin: 10px;
    }
    
    .container-footer-login {
      margin-top: 2%;
      padding: 30px;
    }
  
    .eslogan {
      color: black;
      text-align: center;
      margin-top: 50px;
      font-size: 20px;
      font-family: monospace;
      margin: 40px 0px;
      display: inline-block;
      padding: 0px 5px;
      border-radius: 50px;
    }
  
  }
  
  /* fin mobile iniciar sesion */