/* PAGINA PRODUCTOS */
.card_margin {
    margin-top:100px;
    margin-left: 10%;
    
        .card {
        margin:50px 50px 50px 10px;
        background-color: white;
        box-shadow: 0px 0px 20px grey;
        font-size: 18px;

        .mainHover {
            height:450px;
            width:350px;
            transition: all 0.5s;
        }

        .mainHover:hover {
            height:150px;
            width: 350px;
            padding: 30px 10px;
            font-size: 25px;
        }

        .title-planes {
            border: 1px solid aquamarine;
            background-color: aquamarine;
            border-radius: 100px;
        }
        
        .title-pag-2 {
            border: 1px solid aquamarine;
            background-color: mediumaquamarine;
            border-radius: 100px;
        }
    }
}     
    .container-footer {
        padding: 30px;
        background-color: #F8F9FA;
    
        .footer_parrafo {
            font-size: 16px;
        }

        .ul-1 {
            font-size: 16px;
            padding: 4px;
        }

        li {
            padding:3px;
        }
    }   


@media only screen and (max-width: 768px) {

        .card_margin {
            margin: 5% 0% 0% 15%;
        }

        .card-title {
        margin: auto;
        font-size: 25px;
        border: 1px solid aquamarine;
        background-color: aquamarine;
        border-radius: 100px;
         }
         
        img {
            height:50px;
            width:50px;
        }

        p {
            margin: 0px 0px;
            padding: 5px 0px;
            text-align: start;
            font-size:15px;
        }

        .planes_margin {
            margin-top: 100px;
        }

        .card {
            box-shadow: 0px 0px 20px grey;
            margin-bottom: 100px;
        }
        
        .mainHover {
            height:90%;
            width:75%;
            transition: all 0.5s;
        }
    
        .mainHover:hover {
            height:95%;
            width:90%;
        }
        
        .container-footer {
            margin: 0px;
            padding: 0px;
            background-color: #F8F9FA;
        }
        
        .footer_parrafo {
            font-size: 16px;
        }
        
        .ul-1 {
            font-size: 16px;
            padding: 4px;
        }
        
        li {
            padding:3px;
        }
}

