/* PAGINA PRODUCTOS */
.body-bck{
    background-image: radial-gradient(circle at 13% 47%, rgba(72,255,255, 0.27) 0%, rgba(72,255,255, 0.27) 25%,transparent 25%, transparent 100%),radial-gradient(circle at 28% 63%, rgba(235,9,9, 0.09) 0%, rgba(235,9,9, 0.09) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, rgba(243,19,243, 0.17) 0%, rgba(243,19,243, 0.17) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, rgba(190,192,38, 0.42) 0%, rgba(190,192,38, 0.42) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, rgba(72,255,255, 0.27058823529411763) 0%, rgba(72,255,255, 0.27058823529411763) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, rgba(83,154,194, 0.16) 0%, rgba(83,154,194, 0.16) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, rgba(69, 69, 69,0.03) 0%, rgba(69, 69, 69,0.03) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));

}

.card_margin {
    margin:100px 0px 80px 0px;

        .card {
        margin:50px 50px 50px 10px;
        background-color: white;
        box-shadow: 0px 0px 20px grey;
        font-size: 18px;
        transition: transform .5s;  
        
        .title-planes {
            border: 1px solid aquamarine;
            background-color: aquamarine;
            border-radius: 100px;
        }
        
        .img {
            height:50px;
            width:50px;
            transform:rotate(90deg);
        }

        .title-pag-2 {
            border: 1px solid aquamarine;
            background-color: mediumaquamarine;
            border-radius: 100px;
        }
    }
        .card:hover {
            transform:scale(1.2);
        }
}     
    .container-footer {
        background-color: #F8F9FA;
    
        .footer_parrafo {
            font-size: 16px;
        }

        .ul-1 {
            font-size: 16px;
            padding: 4px;
        }

        li {
            padding:3px;
        }
    }   


@media only screen and (max-width: 768px) {

        .card_margin {
            margin: 5% 0% 0% 15%;
        }

        .card-title {
        margin: auto;
        font-size: 25px;
        border: 1px solid aquamarine;
        background-color: aquamarine;
        border-radius: 100px;
         }

        .img {
            height:50px;
            width:50px;
            transform:rotate(90deg);
        }

        p {
            margin: 0px 0px;
            padding: 5px 0px;
            text-align: start;
            font-size:15px;
        }

        .planes_margin {
            margin-top: 100px;
        }

        .card {
            box-shadow: 0px 0px 20px grey;
            margin-bottom: 100px;
        }
        
        
        .container-footer {
            margin: 0px;
            padding: 0px;
            background-color: #F8F9FA;
        }
        
        .footer_parrafo {
            font-size: 16px;
        }
        
        .ul-1 {
            font-size: 16px;
            padding: 4px;
        }
        
        li {
            padding:3px;
        }
}

