.bck-tienda{
  background-color: #FAFAFA;
  background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
  
    .title-movispace {
      background-color: #121212;
      color: white;
      text-decoration: none;
    }

    .formulario-tienda {
      background-color: #FFFFFF;
      margin-top: 50px;
      padding: 50px 50px;
      font-family: Roboto-Regular,sans-serif;
      display: grid;
      border: 1px solid grey;
      border-radius: 10px;
      box-shadow: 0px 0px 2px;
    }

    .input {
      height:50px;
      width: 400px;
      margin: 15px;
      padding: 0px 5px;
      font-family: Roboto-Regular,sans-serif;
      font-size: 16px;
      border-color: grey;
      border: 1px solid grey;
    }

    .input:hover {
      box-shadow: 0px 0px 5px 0px #00abe4;
      // #F5FAFC
    }

    .content-plan {
      padding: 10px 20px;
      margin: 50px 0px 0px 0px;
      // border: 1px solid black;
      background-color: #FFFFFF;
      box-shadow: 0px 0px 2px;
      list-style: none;
      text-decoration: none;
      position: relative;
      border-radius: 10px;

        .title-planes {
          font-size: 35px;
        }

        .content-valor {
          position:absolute;
          right:400px;
          top: 15px;
          font-size: 35px;
        }
    }
      .buttom-tienda {
        margin: 0px 0px 50px 45px;
        padding: 10px 15px;
        font-size: 18px;
        width: 80%;
      }

      .buttom-tienda:hover {
        background-color:grey ;
      }

      .ubicacion {
        display: flex;
        justify-content: center;
        border: 1px solid grey; 
        border-radius: 5px;
        padding:10px;
        margin: 10px 0px;
        // width: 400px; 
      }
      


      .arrow {
        margin-left: 15px;
        position: absolute;
        top: 10%;
        width: 3vmin;
        height: 3vmin;
        background: transparent;
        border-top: 1vmin solid black;
        border-right: 1vmin solid black;
        box-shadow: 0 0 0 black;
        transition: all 200ms ease;
        
        &.left {
          left: 0;
          transform: translate3d(0,-50%,0) rotate(-135deg);
        }
        &:hover {
          border-color: orange;
          box-shadow: 0.5vmin -0.5vmin 0 white;
        }
        
        &:before { // for better hit area
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-40%,-60%) rotate(45deg);
          width: 200%;
          height: 200%;
        }
    }
}

li {
  list-style: none;
  text-decoration: none;
}

.footer-movi {
  margin-top: 10%;
  margin-bottom: 2%;
}

.select {
  width: 500px;
  height: 30px;
  font-size:18px;
}

@media only screen and (max-width: 768px) {

  .bck-tienda{
    background-color: #FAFAFA;
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
    
      .title-movispace {
        background-color: #121212;
        color: white;
        text-decoration: none;
      }
  
      .formulario-tienda {
        background-color: #FFFFFF;
        width: 100%;
        margin-top: 50px;
        padding: 50px 50px;
        font-family: Roboto-Regular,sans-serif;
        display: grid;
        border: 1px solid grey;
        border-radius: 10px;
        box-shadow: 0px 0px 2px;
      }

      .titleDatos{
        font-size: 20px;
        text-align: center;
      }
  
      .input {
        height:50px;
        width: 90%;
        margin: 15px;
        padding: 0px 5px;
        font-family: Roboto-Regular,sans-serif;
        font-size: 16px;
        border-color: grey;
        border: 1px solid grey;
      }
  
      .input:hover {
        box-shadow: 0px 0px 5px 0px #00AAE4;
        // #F5FAFC
      }
  
      .content-plan {
        padding: 10px 20px;
        margin: 100px 0px 0px 0px;
        // border: 1px solid black;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 2px;
        list-style: none;
        text-decoration: none;
        position: relative;
        border-radius: 10px;
  
          .title-planes {
            font-size: 45px;
          }

          .valorDelPlan {
            font-size: 20px;
          }
  
          .content-valor {
            position:absolute;
            right:10px;
            top: 17px;
            font-size: 45px;
          }
      }
        .buttom-tienda {
          margin: 0px 0px 50px 45px;
          padding: 10px 15px;
          font-size: 18px;
          width: 80%;
        }
  
        .buttom-tienda:hover {
          background-color:grey ;
        }
  
        .arrow {
          position: absolute;
          top: 10%;
          width: 3vmin;
          height: 3vmin;
          background: transparent;
          border-top: 1vmin solid black;
          border-right: 1vmin solid black;
          box-shadow: 0 0 0 black;
          transition: all 200ms ease;
          
          &.left {
            left: 0;
            transform: translate3d(0,-50%,0) rotate(-135deg);
          }
          &:hover {
            border-color: orange;
            box-shadow: 0.5vmin -0.5vmin 0 white;
          }
          
          &:before { // for better hit area
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%,-60%) rotate(45deg);
            width: 200%;
            height: 200%;
          }
      }
  }
  
  li {
    list-style: none;
    text-decoration: none;
  }
  
  .footer-movi {
    margin-top: 10%;
    margin-bottom: 2%;
  }
  
  .select {
    width: 500px;
    height: 30px;
    font-size:18px;
  }

}