.tienda-celular {
    background-color: #E9E9E9;
    overflow-x: hidden;
    
    .title-movispace {
      background-color: #1F84B9;
      color: white;
      text-decoration: none;
      text-align: center;
    //   font-family: "Navidad";
      font-size: 55px;
      font-family: 'Lora', serif;
    }
    
    .carritoImg {
        width:50px;
    }

    .titleMarca {
        font-family: "samsung";
        font-size:80px;
        margin-bottom:50px; 
    }

    .navv h2 a {
        display: inline-block;
        padding:5px 5px;
        border-radius: 10px;
        background-color:#CCCCCC;
        transition: all 0.5s;
        text-decoration: none;
        color: black;
    }

    .navv h2 a:hover {
        cursor: pointer;
        box-shadow: 0px 0px 5px 1px #1F84B9;
        border-radius: 10px;
        background: linear-gradient(to top, #1F84B9 0 5%, #E9E9E9 30% 100%);
        padding:5px 10px;
        

    }

    .subir {
        border-radius: 30px;
        color: #1F84B9;
        text-decoration: none;
        display: inline-block;
        font-family: "samsung";
        font-size:30px;
    }

    .card {
        box-shadow: 0px 0px 10px grey;
    }
    
    .cardPhone {
        width: 18rem;
    }

    .img-phone {
        width: 18rem;
    }



}

    @font-face {
        font-family: "samsung";
        src: url("../assets/fonts/Like Snow.ttf");
        
    }
    @font-face {
        font-family: "precioType";
        src: url("../assets/fonts/Electromagnetic Lungs.otf");
        
    }
    


















    @media only screen and (max-width: 768px) {

        .tienda-celular {
            background-color: #E9E9E9;
            overflow-x: hidden;
            .title-movispace {
              background-color: #1F84B9;
              color: white;
              text-decoration: none;
              text-align: center;
              font-size: 40px;
              font-family: 'Lora', serif;
            }

            .carritoImg {
                width:33px;
                margin-left: 80%;
                position: relative;
                bottom:55px;
                left:25px;
            }

            .titleModelo {
                text-align: center;
            }
            
            .menu {
                display: grid;
                grid-template-areas: 
                "samsung motorola xiaomi iphone";
                grid-template-columns: 105px 105px 105px 105px;
                background-color: #CCCCCC;
                border-radius: 50px;
            }

            .menu a {
                display: inline-block;
                // background-color:#E9E9E9;
                transition: all 0.5s;
                text-decoration: none;
                color: black;
                
            }

            .menu a:hover {
                cursor: pointer;
                box-shadow: 0px 0px 5px 1px #1F84B9;
                border-radius: 10px;
                background: linear-gradient(to top, #1F84B9 0 5%, #E9E9E9 30% 100%);
                padding:5px 10px;
            }

            

            .subir {
                color: #1F84B9;
                text-decoration: none;
                display: inline-block;
                font-family: "samsung";
                font-size:18px;
            }
            
            .card-Phone {
                display: grid;
                grid-template-areas:
                "imagen titulo precio";
                grid-template-columns: 40% 60%;
                grid-template-rows: 220px;
                align-items:center;

                

                width: 100%;

                    .img-phone {
                        width: 10rem;
                        height:15rem;
                    }

                    .TitleModelo {
                        display:flex;
                        justify-content:center;
                        position:absolute;
                        top: 10px;
                        font-size: 28px;
                    }

                    .precio {
                        margin-top: 20PX;
                        font-size:35px;
                        display:flex;
                        justify-content:start;
                    }
                
            }
            
            .titleMarca {
                font-family: "samsung";
                font-size:50px;
                margin-bottom:50px; 
            }
            
            

            
        
            .navv 
        
            .card {
                box-shadow: 0px 0px 10px grey;
            }
            
        }
        
            @font-face {
                font-family: "samsung";
                src: url("../assets/fonts/Like Snow.ttf");
                
            }

}



